body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro", "monaco", "PT Mono", "Courier", monospace;
    box-sizing: border-box;
    
}
.main{
    width: 100%;
}
header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}
.header1{
    height: 30%;
    text-align: center;
    background-color: rgb(83, 124, 247);
    color: white;
    font-size:1rem;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header1 p a{
    font-size: 1rem;
    font-weight: bold;
    color: white;
}
header nav{
    height: 50%;
}
#navbarid{
    width: 50%;
    font-size: 0.8rem;
}
#navbarid ul li a{
    color: white;
}
#searchwrap{
    display: flex;
}
#searchbar {
    display:block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-bottom: 5px;
    background-size: 100%;
    background-image: url(image/icon-search.svg);
}
#searchwrap input {
    font-size: 15px;
    margin-bottom: 0;
    margin-left: 5px;
    line-height: 15px;
    color: #ccc;
    border: 0;
    width: 100px;
    padding: 0;
    background-color: transparent;
    outline: none;
}
#subtn{
    border: 1px solid white;
}
.layout{
height: 100%;
width: 80%;
position: relative;
margin-left: auto;
margin-right: auto;
}
.heading{
    font-size: 1.2rem;
    font-weight: 600;
}
.intro_a{
    width: 63%;
    line-height: 30px;
    word-spacing: 3px;
}
.intro_a p{
    font-size: 1rem;
    line-height: 22px;
}
.intro_b{
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.intro_b_first{
    padding-right: 100px;
    text-align: justify;
    margin-top: 20px;
    width: 100%;
    line-height: 30px;
    font-weight: 100;
}
.intro_b_img img{
   margin-top: 20px;
   width: 100%;
   height: 80%;
   
}
#Collection-button{
    font-weight: 100;
    text-align: center;
    width: 50%;
    height: 10%;
    padding: auto;
    border: 1px solid rgb(10, 10, 10);
}
#Collection-button a{
    text-decoration: none;
    color: black;
}
#Collection-button:hover{
background-color: blue;
}
#Collection-button a:hover{
    color: white;
}
.intro_c{
    margin-top: 30px;
    width: 100%;
    border-top: 1px solid black;
    display: flex;
}
.intro_c_first{
    margin-top: 20px;
    width: 50%;
    padding-right: 30px;
    text-align: justify;
    line-height: 30px;
    padding-right: 50px;
}
.intro_c_second{
    margin-top: 20px;
}
.intro_c_second,.intro_d_second{
    width: 50%;
}
.intro_c_second iframe{
    margin-top: 20px;
    width: 100%;
    height: 80%;
    
}
.intro_d{
    margin-bottom: 200px;
    border-top: 1px solid black;
    display: flex;
    width: 100%;
    height: 100%;
}
.intro_d_first{
    height: 70%;
    width: 50%;
}
.intro_d_second iframe{
    margin-top: 20px;
    width: 100%;
    height: 180%;
}

.collections{
    border-top: 1px solid black;
    margin-top: 20px;
    display: flex;
    flex-direction: column;   
}
.collections h1{
    margin-top: 20px;
}
.container{
width: 100%;   
display: flex;
justify-content: space-between;
}
.arts{
    font-size: 0.9rem;
    width: 30%;
    height: 100%;
    margin-top: 20px;
    position: relative;
}
.overlay{
 position: absolute;
 top: 28%;
 left: 25%;
 opacity: 0;
}
.arts:hover img{
opacity: 0.3;
}

.arts:hover .overlay{
    opacity: 1;
}

.overlay_p1{
    font-size: 1rem;
    border: 1px solid white;
    padding: 5px 10px 5px 10px;
    color: black;
    background-color: white;
}
.overlay_p1:hover,.overlay_p2:hover{
    background-color: blue;
    color: white;
}
.overlay_p2{
    border: 1px solid white;
    font-size: 1rem;
    padding: 5px 0px 5px 43px;
}
.arts img{
    border: 1px solid black;
    width: 100%;
    height: 50%;
}
.arts_heading{
    font-weight: 800;
}
.arts_para{
    color: rgb(158, 156, 156);
}
.arts_footer{
    font-size: 0.7rem;
    font-weight: 600;
}

footer{
    padding-top: 10px;
    padding-bottom: 5px;
    color: white;
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_img{
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
}
.footer_img img{
    width: 40%;
}
.footer_terms{
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    display: flex;
}
.footer_terms p{
    align-items: center;
}
.footer_terms img{
    width: 10%;
    height: 50%;
    
}
@media only screen and (max-width: 1024px){
    .main{
        padding: none;
        margin-left: none;
        margin-bottom: none;
        width: fit-content;
    }
    .header2{
        flex-direction: column;
    }
    .layout{
        width: 90%;
    }
    #header2_a{
        font-size: 0.2rem;
    }
    #header2_b{
        flex-direction: column;
    }
    .intro_a,.intro_b,.intro_c,.intro_d{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
.intro_a,.intro_b_first,.intro_c_first,.intro_d_first{
    width: 100%;
}
.intro_c_second ,.intro_d_second {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.intro_c_second iframe,.intro_d_second iframe{
    box-sizing: border-box;
    width: 100%;
    height: 50vh;
}
.intro_d{
    margin-bottom: 20px;
}
#Collection-button{
    width: 30%;
}


}
@media only screen and (max-width:700px){
    .main{
        padding: none;
        margin-left: none;
        margin-right: none;

    }
    .intro_a,.intro_b_first,.intro_c_first,.intro_d_first{
        padding-right: 0px;
        width: 100%;
    }
    .container{
    flex-direction: column;
    }
    .arts{
        width: 100%;
 
   }
   .footer_logo img{
    margin-left: 4px;    
}

.footer_img img{
    width: 90%;
}
.footer_terms{
    font-size: 0.8rem;
    width: 90%;
}
#Collection-button{
    width: 70%;
}

}